/* fonts */
@font-face {
    font-family: "Poppins Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins Medium";
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Poppins Black";
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}
@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family: "Poppins SemiBold";
    src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

:root{
    /* color brand */
    --color-brand-button: #EEBF63;
    --color-brand-maps: #90C0E8;
    --color-brand-effect: #90C0E8;
    --color-brand-black-title:#1C1C1C;
    --color-brand-black-text: #1C1C1C;
    --color-brand-hero-black-text:#2F2F2F;
    --color-brand-hero-yellow-text:#EEBF63;
    --color-brand-grey-text:#828282;
    --color-brand-grey:#E1E1E1;
    --color-brand-bg-grey:#F1F1F1;
    --color-brand-write-text:#FFFFFF;
    --color-brand-yellow:#CD921E;
    --color-brand-blue:#486074;
    --color-text-nav: #151517;
    --color-bg-glad-card:#E9E9E9;
}

/* reset css */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color:var(--color-brand-bg-grey);
    margin: 0 156px 0;
    font-family: "Poppins Regular";
}

section{
    padding: 50px 0;
}

.title-brand{
    font-family: "Poppins Bold";
    font-size: 22px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    height: 99px;
}

header li{
    list-style-type: none;
    display: inline;
    margin-left: 40px;
    
}

header li a{
    text-decoration: none;
    color: var(--color-text-nav);
}

.navbar-options{
    text-decoration: none;
    font-family: "Poppins Medium";
    font-size: 16px;
}

.hero{
    width: auto;
    height: 100vh;
    display: flex
}

.hero-btn{
    margin: 44px 0 0 0;
}

.text1{
    font-family: "Poppins Medium";
    font-size: 24px;
    line-height: 36px;
    color: var(--color-brand-grey-text);
    margin: 0 0 16px;
}

.text2{
    margin: 16px 0 15px;
    font-family: "Poppins Semibold";
    font-size: 48px;
    line-height: 62px;
    color: var(--color-brand-hero-black-text);

}
h2 span {
    color: var(--color-brand-hero-yellow-text);
}

.hero p {
    margin: 22px 0 32px;
    font-size: 16px;
    line-height: 30px;
    width: 475px;
}

.follow{
    color: var(--color-brand-grey-text);
    font-size: 18px;
    line-height: 30px;
}
.follow i{
    font-size: 32px;
    margin: 0 0 0 30px;
}
.btn{
    /* margin: 44px 0; */
    background-color: var(--color-brand-button);
    color: var(--color-brand-write-text);
    font-family: "Poppins Bold";
    font-size: 16px;
    /* vertical-align: middle; */
    border: var(--color-brand-button) none ;
    border-radius: 10px;
    height: 55px;
    width: 151px;

}

button svg{
    vertical-align: middle;
    margin: 0 12px 0 0;
}

.btn2{
    margin: 0 0 0 30px;
    width: 184px;
    background-color: var(--color-brand-bg-grey);
    border: var(--color-brand-button) solid ;
    color: var(--color-brand-hero-black-text);
}

.hero-image{
    width: auto;
    text-align: right;
}

.hero-image img{
    margin: 77px 0 0 0;
    border-radius: 50%;

}

.hero-image-circule{
    z-index: -1;
    position: absolute;
    top: 100px;
    margin: 42px 59px 0 0;
    border-radius: 50%;
    width: 496px;
    height: 496px;
    border: var(--color-brand-grey-text) solid 2px;
    text-align: right;
    opacity: 16%;
}

.hero-image-points{
    text-align: right;
    width: 245px;
    height: 179.46px;
    z-index: -1;
    position: absolute;
    opacity: 50%;
    top: 417px;
    right: 517px;
}

.hero-image-points svg{
    fill: var(--color-brand-hero-yellow-text);
}

.glad-card{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 45px;
    background-color: var(--color-bg-glad-card);
    margin-top: 83px;
    padding-top: 63px;
    width:auto;
    height: auto;

}

.glad-card-image{
    object-fit: cover;
    margin: 0 60px 63px 65px;
    border-radius: 30px;
    text-align: left;
    transform: scaleX(-1);
}

.glad-card-projects{
    font-family: "Poppins SemiBold";
    color: var(--color-brand-hero-black-text);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.title{
    font-family: "Poppins SemiBold";
    font-size: 48px;
    line-height: 62px;
    color: var(--color-text-nav);
    /* margin: 70px 0 19px 0; */
}


.glad-card-title{
    margin: 70px 0 19px 0;
}

.glad-card-text{
    font-family: "Poppins Regular";
    margin-right: 65px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 45px;
    color: #000;
}

.glad-card-star{
    display: inline;
    width: 148px;
    height: 25px;
}
.projects-completed{
    font-size: 72px;
    line-height: 62px;
    width: auto;
    margin: 0 49px 0 0;
    
}

.projects-completed p{
    font-family: "Poppins Regular";
    font-size: 24px;
    line-height: 36px;
    color: var(--color-brand-grey-text);
}

.projects-stars{
    font-size: 48px;
    line-height: 62px;
}

.projects-stars p{
    font-family: "Poppins Regular";
    font-size: 24px;
    line-height: 36px;
    color: var(--color-brand-grey-text);
}

.carda-projets{
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
}

.title_recent_projects{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.card-recent-project img{
    width: 500px;
    height: 656px;
    margin: 56px 0 0 0;
    object-fit:cover;
    border-radius: 25px;
}

.card-recent-project-title{
    font-family: "Poppins SemiBold";
    font-size: 24px;
    color: var(--color-brand-black-text);
    margin: 20px 0 10px 0;
    
}

.card-recent-project-options{
    font-family: "Poppins Medium";
    font-size: 16px;
    color: var(--color-text-nav);
    margin: 0px 50px 0 13px;
}

.card-recent-project-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hire-me{
    text-align: center;
}

.hire-me-title{
    font-family: "Poppins Medium";
    font-size: 24px;
    line-height: 36px;
    color: var(--color-brand-hero-black-text);
}

.hire-me-subtitle{
    font-family: "Poppins Regular";
    width: 240px;
    font-size: 18px;
    line-height: 30px;
    color: var(--color-brand-grey-text);
}

.hire-me-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
}